body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.blue-color{
    color: teal;
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 40px;
}
h4{
    font-size: 24px;
    color: #031626;
    
}
.top-desc p{
    font-size: 20px;
    margin-bottom: 10%;
}
.info{
    margin-bottom: 20%;
}

.flexible{
    display: flex;
    margin-bottom: 100px;
}
.top-desc{
    width: 50%;
    padding: 3%;
    
}
.top-desc h1{
    margin-top: 20%;
}
.top-desc img{
    width: 100%;
}
.btn{
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 40px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    
    
}
.middle-part{
    background-image: url(images/7.png);
    background-repeat: no-repeat
}
.review{
    text-align: center;
}
.box-model{
    text-align: center;
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 2%;     
    border-radius: 10px;
}
.box-model p{
    color: #7b93a6;
}
.box-model img{
    width: 100%;
    
}

.all-box h3{
    text-align: center;
    font-size: 30px;
    
}
.all-box{
    padding-left: 10%;
    padding-right: 5%;
}

.info-box{
    
    width: 23%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    float: left;    
    border-radius: 15px;
    border-style: solid;
    border-color: teal;
    background-image: linear-gradient(#d5dee6, #4c6578);
    box-shadow: 10px 10px 40px gray;
}
.first-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    float: left;
}
.review-desc{
    width: 50%;
    float: left;
    margin-left: 8%;
    
}
.review-desc p{
    font-size: 12px;
    margin-bottom: 20%;
    color: white;
}
.first-image img{
    width: 100%;
    border-radius: 10%;
}
.small-btn{
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(#011221, #496680);
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}
.clearfix{
    clear: both;
    float: none;
}
.footer{
    text-align: center;
    background-image: linear-gradient(#cfd7e6,#7a7d82);
    padding-top: 1%;
    padding-bottom: 1%;
}
ul{
    list-style-type: none;
}
ul li{
    display: inline;
    padding: 1%;
}

